html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #f8edeb;
    margin: 0;
}

body {
    display: flex;
}

nav {
    display: flex;
    position: fixed;
    width: 20% ;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    border-width: 25px;
    border-color: #22577a;
    font-size: 35px;
}

#home {
    background-color: #56cfe1;
}

#about-me {
    background-color: #48bfe3;
}

#my-work {
    background-color: #4ea8de;
}

#contact-me {
    background-color: #5390d9;
}

main {
    margin-left: auto;
    width: 80%;
    position: relative;
}

.title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 50px;
    flex-direction: column;
}

.title-text h2 {
    font-size: 20px;
}