/* page-wide */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #f8edeb;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
}

h1 {
  font-size: 100px;
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  width: 800px;
  font-size: 25px;
}

/* nav sidebar */
nav {
  display: flex;
  position: fixed;
  width: 20%;
  height: 100%;
  justify-content: flex-start;
  flex-direction: column;
}

.nav-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  border-width: 25px;
  border-color: #22577a;
  font-size: 35px;
}

/* nav sidebar buttons */
#home-btn {
  background-color: #56cfe1;
}

#about-btn {
  background-color: #48bfe3;
}

#work-btn {
  background-color: #4ea8de;
}

#contact-btn {
  background-color: #5390d9;
}

/* main content */
main {
  margin-left: auto;
  width: 80%;
  position: relative;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* home section */

#home-paragraph {
  font-size: 40px;
}

/* about section */

#face-pic {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  margin: 30px;
}

/* work section */

.work-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 300px 0px;
}

.big-work-img {
  width: 600px;
  height: 300px;
  border-radius: 20px;
  margin: 15px;
  position: relative;
}

.small-work-img {
  width: 600px;
  height: 150px;
  border-radius: 20px;
  margin: 15px;
  position: relative;
}

.work-item {
  position: relative;
}

.work-item p {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* contact section */

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

/* media queries */ 

@media screen and (max-width: 1200px) {
    
  nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 10%;
    flex-direction: row;
    z-index: 9;
  }

  .nav-item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 35px;
  }

  main {
    margin-left: 0;
    width: 100%;
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 300px 0px;
    flex-direction: column;

  }
}


@media screen and (max-width: 768px) {

  nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 10%;
    flex-direction: row;
    z-index: 9;
  }

  .nav-item {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 35px;
  }

  main {
    margin-left: 0;
    width: 100%;
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: 300px 0px;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {

    nav {
      display: flex;
      position: fixed;
      width: 100%;
      height: 10%;
      flex-direction: row;
      z-index: 9;
    }
  
    .nav-item {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size: 35px;
    }
  
    main {
      margin-left: 0;
      width: 100%;
    }
  
    .section {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 80%;
      margin: 300px 0px;
      flex-direction: column;
      text-align: center;
    }
  }
  