html, body {
    height: 100%;
    margin: 0;
    background-color: #e0e1dd;
    display: flex;
    margin: 0;
}

nav {
    display: flex;
    position: fixed;
    width: 20% ;
    height: 100%;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #38a3a5;
}

.nav-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    border-width: 25px;
    border-color: #22577a;
    font-size: 35px;
}

#home-icon {
    background-color: #778da9;
}

#about-me {
    background-color: #415a77;
}

#my-work {
    background-color: #1b263b;
}

#contact-me {
    background-color: #0d1b2a;
}