html, body {
    height: 100%;
    margin: 0;
    background-color: #008080;
}

nav {
    display: flex;
    position: fixed;
    width: 150px;
    height: 100%;
    justify-content: flex-start;
    background-color: #133337;
    border-top-right-radius: 25px;
}